{% extends "layout.html" %}
{% block content %}


			<div class="container my-5 mx-10 align-items-center">
        <nav>
          <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-best-tab" data-bs-toggle="tab" data-bs-target="#nav-best" type="button" role="tab" aria-controls="nav-best" aria-selected="true">Best jokes</button>
            <button class="nav-link" id="nav-latest-tab" data-bs-toggle="tab" data-bs-target="#nav-latest" type="button" role="tab" aria-controls="nav-latest" aria-selected="false" tabindex="-1">Latest jokes</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade active show" id="nav-best" role="tabpanel" aria-labelledby="nav-best-tab">
          	{% for joke in best %}
				      <div class="container my-5 mx-5 mx-auto align-items-center">
				        <div class="card">
				          <div class="card-body">
				            <h5 class="card-title">&#128104;: {{ joke['base'] }}</h5>
				            <h4 class="card-text">&#129302;: {{ joke['punchline'] }}</p>
				            
				          </div>
				          <div class="card-footer text-body-secondary">
				            <div class="container my-1 mx-1 mx-auto align-items-center">
				              <div class="gap-2 row align-items-center">
				                <div class="col-sm-1 d-flex justify-content-center">
				                	
				                </div>
				                <div class="col"></div>
				                <div class="col-sm-1 text-end gap-2">
				                	<form  action="generate" method="post">
				                		<input type="hidden" name="prompt" value="{{ joke['base'] }}">
				                  	<button type="submit" class="btn btn-primary">
				                    	<i class="bi bi-arrow-clockwise"></i>
				                  	</button>
				                	</form>
				              	</div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
				    {% endfor %}  
          </div>
          <div class="tab-pane fade" id="nav-latest" role="tabpanel" aria-labelledby="nav-latest-tab">
          	{% for joke in latest %}
				      <div class="container my-5 mx-5 mx-auto align-items-center">
				        <div class="card">
				          <div class="card-body">
				            <h5 class="card-title">&#128104;: {{ joke['base'] }}</h5>
				            <h4 class="card-text">&#129302;: {{ joke['punchline'] }}</p>
				            
				          </div>
				          <div class="card-footer text-body-secondary">
				            <div class="container my-1 mx-1 mx-auto align-items-center">
				              <div class="gap-2 row align-items-center">
				                <div class="col-sm-6 d-flex">
				                	Prompt: {{ joke['prompt_ms'] }}ms |
				                	Gen: {{ joke['predicted_ms'] }}ms | 
				                	Tokens: {{ joke['prompt_n'] }} + {{ joke['predicted_n'] }} |
				                	{{ joke['predicted_per_token_ms']}} ms/tok
				                </div>
				                <div class="col"></div>
				                <div class="col-sm-1 text-end gap-2">
				                	<form  action="generate" method="post">
				                		<input type="hidden" name="prompt" value="{{ joke['base'] }}">
				                  	<button type="submit" class="btn btn-primary">
				                    	<i class="bi bi-arrow-clockwise"></i>
				                  	</button>
				                	</form>
				              	</div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
				    {% endfor %}

          </div>
        </div>
      </div>




{% endblock %}