<!doctype html>
<html lang="en" class="h-100"> 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LLM Dad Jokes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
      .b-divider {
        width: 100%;
        height: 2rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }      
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FHN636LZD6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FHN636LZD6');
  </script>

  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">LLM Dad Jokes</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="https://github.com/shuttie/dadjokes-web" class="nav-link">Github</a></li>
          <li class="nav-item"><a href="https://huggingface.co/datasets/shuttie/dadjokes" class="nav-link">Dataset</a></li>
          <li class="nav-item"><a href="https://huggingface.co/shuttie/Mistral-7B-DadJokes-GGUF" class="nav-link">Huggingface</a></li>
          <li class="nav-item"><a href="mailto:grv@dfdx.me" class="nav-link">Contact</a></li>
        </ul>
      </header>
      <div class="b-divider"></div>
      <div class="container my-5 mx-5 mx-auto text-center align-items-center">
        <form class="gap-2 row" action="generate" method="post">
          
            <div class="col-sm-1 p-1 mx-1"><label for="prompt" class="col-form-label-lg">Prompt:</label></div>
            <input class="col p-1 mx-1" type="text" value="{{ prompt }}" name="prompt">
            <button class="col-sm-1  mx-1 p-1 btn btn-primary" type="submit">Generate</button>
          
        </form>
      </div>
      <div class="b-divider"></div>
      {% block content %}{% endblock %}
    </main>
    <footer class="footer mt-auto px-3 bg-light d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="container">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Roman Grebennikov | Merantix GenAI Hackathon</span>
        </div>
      </div>
    </footer>

  </body>
</html>
